<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FACTSSpecManager.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <applicationSettings>
        <FACTSSpecManager.My.MySettings>
            <setting name="UpdatePath" serializeAs="String">
                <value>\\sdcnas01\sts_cats\APP_Fiber\FACTSSpecManager</value>
            </setting>
        </FACTSSpecManager.My.MySettings>
    </applicationSettings>
  <connectionStrings>
    <add name="ASZ [S400PDB0001.FACTS]" connectionString="2C7016DD3A63BF16A35F10C84E9AB7D29317FD241DB7B3BD8CAC74915C8ACCF2FF1365AF57934811E369FD3B2872ECEE7CD18ED2A9AE47B8D4B480D7EC7688275C3D5621A2B0B4C5113F3DDE6987DF4D9DE139A4416F8898"/>
    <add name="GOA [ATGVVSR1.FACTS]" connectionString="2C7016DD3A63BF16BA4762DC9E61669D6EECAF455905F898522867F38ADB37D2C638615492AE5276223859DE5CB371B583541AADD81DE8E07FABFDDF3318EEA9222A7096C2D3F60F18B02FB63B2D324B6C569FE515F8E4CA"/>
    <add name="Reynosa [ARMVSWRSQL1.FACTS]" connectionString="2C7016DD3A63BF1656F0484E1625C2D1473E65F6428C778A6066EB8D1648F6B6B4C12FC06CB8DF2D82D491A347F4E3D7DA0FADAB1D39D167B06C4D771245A19D97EC1AFB426E79E5ED8395844604F37F2017BA85C2409138"/>
  </connectionStrings>
</configuration>